<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Menù</title>
	<link rel="stylesheet" th:href="@{../style.css}" />
</head>


<body style="text-align:center;">

	<div>
		<h1 class="titoloLingua">WELCOME TO <span class="span1Lingua">FREE</span>tto</h1>
		<p class="liberi">LIBERI DI MANGIARE</p>
		<hr class="lineaLingua"/>
	</div>

	<div th:object="${linguaCercata}">
		<p class="sottotitolo"><span th:text="*{sottotitolo}"></span></p>
	</div>

	<table align="center">
		<tr>
			<th>Nome Piatto</th>
			<th>Ingredienti</th>
			<th>Prezzi</th>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr th:each="piatto : ${piatti}">
			<td th:text="${piatto.nomePiatto}"></td>
			<td th:text="${piatto.ingredienti}"></td>
			<td th:text="${piatto.prezzo} + ${piatto.prezzoDue}"></td>
			<!--<td th:text="${piatto.strutturaEntity.sezione}"></td>
			<td th:text="${piatto.strutturaEntity.sottoSezione}"></td>-->
		</tr>
	</table>




</body>

</html>