<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menù</title>
	<link rel="stylesheet" th:href="@{../style.css}" />
</head>

<header>
	<div th:object="${linguaCercata}" style="margin-top: 50px;">
		<div class="header-content">
			<h1 class="titoloLingua" th:text="*{benvenuto}"></h1>
			<img class="logo" th:src="@{../logo-fretto.png}" th:alt="FREEtto" height="10%" width="15%"
				style="margin-left: 10px;">
		</div>
		<hr class="lineaLingua" />
		<p class="sottotitolo"><span th:text="*{sottotitolo}"></span></p>
	</div>
</header>

<body style="text-align:center;">
	<div class="container">
		<div class="grid-container-lingua">
			<div class="grid-item-lingua" th:each="sezione : ${sezioni}"> 
				<div class="colonna">
					<h2 th:text="${sezione.sottoSezione}"></h2>
					<table>
						<thead style="text-align:center;">
							<tr>
							</tr>
						</thead>
						<br/>
						<tbody style="text-align:center;">
							<tr th:each="piatto : ${sezione.menu}">
								<td th:text="${piatto.prezzo}" />
								<td th:text="${piatto.prezzoDue}"/>
								<td>
    								<span th:text="${piatto.nomePiatto}"></span><br/>
    								<span th:text="${piatto.ingredienti}"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

	

<footer>
	<div th:object="${linguaCercata}">
		<p><span th:text="*{avvertenze}"></p>
		<p><span th:text="*{allergeni}"></p>
	</div>
</footer>

</html>