<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Menù</title>
</head>

<body style="text-align:center; background-color: green;">
	<div class="container">
		<div class="header" style="color: white;">
			<h1>FREEtto</h1>
			<p>LIBERI DI MANGIARE</p>
			<hr />
		</div>
		<br>
		<h1 style="color: white; font-family: Lucida Console, Courier New, monospace;">MENU</h1>
		<!--<div>
			<br>
			<br>
			<div class="grid-container" >

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="italy.png" alt="Italiano" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="great_britain.jpg" alt="Inglese" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="china.png" alt="Cinese" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="france.png" alt="Francese" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="japan.jpg" alt="Giapponese" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="korea.png" alt="Koreano" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="netherland.png" alt="Olandese" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="portugal.png" alt="Portoghese" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="russian.png" alt="Russo" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="spagna.webp" alt="Spagnolo" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="germany.jpg" alt="Tedesco" width="50px" height="35px"></a>
				</div>

				<div class="grid-item">
					<a href="menu-freetto.html"><img src="arabo.png" alt="Arabo" width="50px" height="35px"></a>
				</div>

			</div>

		</div>-->

		<ul>
        <li th:each="lingua : ${lingue}">
            <a th:href="@{'/menu-freetto/' + ${lingua.nome}}" th:text="${lingua.nome}">
				<img th:src="${lingua.url}" alt="lingua">
			</a>
        </li>
    </ul>
		
		
	</div>
</body>


<script>
	

</script>

</html>