.bodyMenu {
	text-align: center;
	background-color: green;
}

.headerMenu {
	text-align: center;
	color: white;
	font-size: 35px;
	font-family: Lucida Console, Courier New, monospace;
}

.imgMenu {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgb(221, 220, 220),
		-5px -5px 5px rgb(221, 220, 220),
		5px -5px 5px rgb(221, 220, 220),
		-5px 5px 5px rgb(221, 220, 220);
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 40px;
	align-items: centerw;
}

.grid-item {
	text-align: center;
}

.titoloMenu {
	font-size: 35px;
	color: white;
	border-bottom: 0%;
	margin-bottom: 0%;
}

.span1Menu {
	font-size: 50px;
	color: white;
}

.liberiMenu {
	margin: 0%;
	border: 0%;
	align-items: center;
}



.titoloLingua {
	font-size: 35px;
	color: black;
	border-bottom: 0%;
	margin-bottom: 0%;
}

.span1Lingua {
	font-size: 50px;
	color: green;
}

.liberi {
	margin: 0%;
	border: 0%;
	margin-left: 13%;
}

.lineaLingua {
	width: 85%;
	box-align: center;
}

.sottotitolo {
	color: black;
	font-weight: bold;
}